@model xtrade.Models.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(null,null,FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" data-ng-controller="ItemController">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <!-- <div class="form-group">
            @Html.LabelFor(model => model.Seller, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Seller, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Seller, "", new { @class = "text-danger" })
            </div>
        </div> -->

        <div class="form-group">
            @Html.LabelFor(model => model.Buyer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Buyer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Buyer, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @for (var i = 0; i < Model.Images.Count; i++)
        {
            <div class="form-group">
                <label class="control-label col-md-2" for="MarkForDeletion@Model.Images.ElementAt(i).ImageId">Image @(i + 1)</label>
                <div class="col-md-10">
                    <img src="~/Images?id=@Model.Images.ElementAt(i).ImageId"
                         class="img-thumbnail" alt="@Model.Name" height="900" width="600" />
                    <span> <input type="checkbox" ng-model="@( "MarkForDeletion.P" +Model.Images.ElementAt(i).ImageId)" 
                                 ng-change="toggleDeletionMark(@( "MarkForDeletion," +Model.Images.ElementAt(i).ImageId))"
                                 ng-true-value="'YES'" ng-false-value="'NO'"> Mark for Deletion 
                    
                    <br></span>
                </div>
           </div>
        }

        <input type="hidden" name="DoNotDisplayImages" id="DoNotDisplayImages" value="{{DoNotDisplayImages}}">

        <div class="form-group" data-ng-repeat="image in images">
            <label class="control-label col-md-2" for="{{image.name}}">Image</label>
            <div class="col-md-10">
                <input type="file" id="{{image.name}}" name="files" accept="image/*" />
                <i class="fa fa-times pull-right" data-ng-click="removeImage(image.name)"></i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-theme-default" data-ng-click="addImage()"> + </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
